.newPassword {
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  width: 600px;
  height: 800px;
  margin: 0 auto;
  margin-top: 80px;
  flex-direction: column;
  border: 2px solid darkgrey;
  justify-content: center;
  gap: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.newPassword input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}



.newPassword .inputType {
  font-size: 16px;
  font-weight: 500;
  height: 25px;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}


.newPassword .passwordContainer {
  border: none;
  width: 350px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.buttonPassword {
  background: none;
  border: none;
}

.newPassword .buttonCreateNewPassword {
  font-size: 16px;
  color: whitesmoke;
  border: none;
  background-color: #366EFF;
  border-radius: 30px;
  cursor: pointer;
  width: 347px;
  height: 36px;

}
.newPassword .buttonCreateNewPassword:active {
  background-color: #5883f8;
}


.newPassword .alreadyAccount {
  font-weight: 400;
  font-size: 16px;
  color: grey;
  width: 330px;
  hyphens: auto;
}

