.forgotPassword {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 80px;
    flex-direction: column;
    border: 2px solid darkgrey;
    justify-content: center;
    gap: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.forgotPassword input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.helpText {
    width: 320px;
    hyphens: auto;
}

.forgotPassword .inputType {
    font-size: 16px;
    font-weight: 500;
    width: 350px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: inherit;
    border-bottom: 1px solid grey;
    outline: none;
}

.forgotPassword .buttonSendInstruction {
    font-size: 16px;
    color: whitesmoke;
    border: none;
    background-color: #366EFF;
    border-radius: 30px;
    cursor: pointer;
    width: 347px;
    height: 36px;

}
.forgotPassword .buttonSendInstruction:active {
    background-color: #5883f8;
}


.forgotPassword .rememberAccount {
    font-weight: 600;
    font-size: 14px;
    color: grey;
}

.forgotPassword .tryLogin {
    color: #366EFF;
}